.content {
  color: var(--color-onboarding-secondary-text, #d0cfd1);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.176px;
  width: 611px;
}

.chip {
  color: var(--color-onboarding-primary-text, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.154px;
}
